:root {
  // Scale system is based on major second
  --kegel-1: 1rem;
  --kegel-2: 1.125rem;
  --kegel-3: 1.25rem;
  --kegel-4: 1.425rem;
  --kegel-5: 1.6rem;
  --kegel-6: 1.8rem;
  --kegel-7: 2rem;
  --kegel-8: 2.3rem;
  --kegel-9: 2.5rem;
  --kegel-10: 2.9rem;
  --kegel-11: 3.25rem;
  --kegel-12: 3.65rem;
  --kegel-13: 4.1rem;
  --kegel-14: 4.625rem;
  --kegel-15: 5.2rem;

  --space-1: 6.6rem;
  --space-2: 7.4rem;
  --space-3: 8.33rem;
  --space-4: 9.4rem;
  --space-5: 10.5rem;
  --space-6: 11.9rem;
  --space-7: 13.3rem;
  --space-8: 15rem;
  --space-9: 16.9rem;
  --space-10: 19rem;
  --space-11: 21.4rem;
  --space-12: 24rem;
  --space-13: 27rem;
  --space-14: 30.4rem;
  --space-15: 35rem;

  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;

  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
