@use "../abstracts" as *;

.btn {
  &--inline {
    border: none;
    color: var(--oc-pink-7);
    font-size: inherit;
    border-bottom: 0.1rem solid currentColor;
    padding-bottom: 0.2rem;
    display: inline-block;
    background-color: transparent;
    transition: color 0.2s ease;

    &:hover,
    &:active {
      color: var(--oc-gray-6);
      cursor: pointer;
    }
  }
}
